<!DOCTYPE html>
<html lang="pt-br" charset="utf-8">
<meta charset="utf-8">

<head>
    <title></title>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="conteudo1.css">
</head>

<body>
    <div>
        <h1>
            <span><strong>Valores plasmáticos normais dos principais eletrólitos em adultos</strong></span>
        </h1>

            <br>
            <br>
            <img src="conteudo1.png" alt="Banner" width="100%"
            style="height: 350px; object-fit: cover; margin-bottom: 20px;" />

    </div>
</body>

</html>
