<!DOCTYPE html>
<html lang="pt-br" charset="utf-8">
<meta charset="utf-8">

<head>
    <title></title>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="conteudo11.css">
</head>

<body>
    <div style="text-align: justify;">
        <h1>
            <span><strong>Links</strong></span>
        </h1>

        AIRES, M. M. <strong>Fisiologia</strong>. 4ª edição. Rio de Janeiro – RJ: Guanabara Koogan, 2012.
        <br>Bula da solução cloreto de sódio 10%-20%.
        <br><a href="https://guiafarmaceutico.hsl.org.br/cloreto-de-potassio-injetavel">Disponível aqui</a>. Acessado em
        06/01/2023.

        <br><br>
        CENEVIVA, R.; VICENTE, Y. A. M. V. A. <strong>Equilíbrio hidroeletrolítico e hidratação no paciente
            cirúrgico.</strong> Medicina., v. 41, n. 3, p. 287-300, 2008.
        <br> <a href="https://www.revistas.usp.br/rmrp/article/view/274/275">Disponível aqui</a>. Acessado em:
        06/01/2023.

        <br><br>
        ENGELS, M.; CIARKOWSKI, S. <strong>Nursing, pharmacy, and prescriber knowledge and perceptions of high-alert
            medications in a large, academic medical hospital</strong>. Hosp Pharm., v. 50, n. 4, p. 287-95, 2015.
        <br><a href="https://doi.org/10.1310/hpj5004-287">Disponível aqui</a>. Acessado em: 06/01/2023.

        <br><br>
        GUIMARÃES, B. M.; CRUZ, I. C. F. Hydroeletrolitic control in high complex patient: sistematic literature review.
        <strong>Journal of specialized Nursing Care</strong>, v. 4, n. 1, 2011.
        <br> <a href="http://www.jsncare.uff.br/index.php/jsncare/article/view/2353/525">Disponível aqui</a>. Acessado
        em: 06/01/2023.

        <br><br>
        PAULA, F. J. A.; FOSS, M. C. <strong>Tratamento da hipercalcemia e hipocalcemia</strong>. Medicina, v. 36, p.
        370-4, 2003.
        <br> <a href="https://www.revistas.usp.br/rmrp/article/download/736/750/1438">Disponível aqui</a>. Acessado em:
        06/01/2023.

        <br><br>
        SOUZA, M. L. et al. <strong>Revisão da literatura sobre os principais distúrbios hidroeletrolíticos</strong>.
        Rev. Saberes, v. 14, n. 1, 2020.
        <br> <a
            href="https://edisciplinas.usp.br/pluginfile.php/7120283/mod_resource/content/1/REVISA%CC%83O-DA-LITERATURA-SOBRE-OS-PRINCIPAIS-DISTU%CC%81RBIOS-HIDROELETROLI%CC%81TICOS.pdf">Disponível
            aqui</a>. Acessado em: 06/01/2023.

        <br><br>

        <h1>
            <span><strong>Referências Bibliográficas</strong></span>
        </h1>

        DUTRA, V. de F. et al. <strong>Desequilíbrios hidroeletrolíticos na sala de emergência.</strong> Rev Bras Clin
        Med. São Paulo – SP. v. 10, n. 5, p. 410-419, 2012.

        <br><br>
        FRANÇA, N. A. G.; MARTINI, L. A. Cálcio. São Paulo – SP: ILSI Brasil, 2018.

        <br><br>
        HARRISON, T. R. et al. <strong>Medicina Interna de Harrison</strong>. 19ª edição. Porto Alegre – RS: AMGH, 2017.

        <br><br>
        LOBO, D. N.; LEWINGTON, A. J. P.; ALLISON, S. P. <strong>Basic Concepts of Fluid and Electrolyte
            Therapy</strong>. Melsungen – Hesse: Bibliomed, 2013.

        <br><br>
        MONTEIRO, T. H.; VANNUCCHI, H.; PAULA, B. M. F. <strong>Fósforo</strong>. 2ª edição. São Paulo – SP: ILSI, 2017.

        <br><br>
        NANDA INTERNATIONAL. <strong>Diagnósticos De Enfermagem da NANDA-I</strong>: Definições e Classificação.
        2018-2020. 11 ed. Porto Alegre: Artmed, 2018.

        <br><br>
        SHRIMANKER, I.; BHATTARAI, S. <strong>Electrolytes</strong>. 2020. In: StatPearls. Treasure Island (FL):
        StatPearls Publishing; 2020.

        <br><br>
        TORTORA, G. J. <strong>Princípios de anatomia e fisiologia</strong>. 12 ed. Rio de Janeiro: Guanabara Koogan,
        2010.
    </div>
</body>

</html>