<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title></title>
    <link rel="stylesheet" href="../libs/bootstrap.css">
    <style>
        @font-face {
            font-family: "Lobster-Regular";
            src: url("../../fonts/Metropolis-Regular.ttf") format("truetype");
        }

        html {
            width: 100%;
        }

        body {
            background-color: white;
            font-size: 4vw;
            width: 100%;
            padding: 5%;
        }

        h1 {
            font-family: Lobster-Regular;
            font-size: 8vw;
            text-align: center;
        }

        p {
            margin-top: 5vw;
            margin-bottom: 5vw;
        }
    </style>

</head>
<body>
    <div>
        <h1>
            <span><strong>Referências</strong></span>
        </h1>

        <p style="text-align:justify;">
            AIRES, M. M. <strong>Fisiologia</strong>. 4ª edição. Rio de Janeiro – RJ: Guanabara Koogan, 2012.<br>
            Bula da solução cloreto de sódio 10%-20%. Disponível em: <a href="https://guiafarmaceutico.hsl.org.br/cloreto-de-potassio-injetavel">Clique aqui.</a> Acesso em 25/07/2022. <br>
            CENEVIVA, R.; VICENTE, Y. A. M. V. A. <strong>Equilíbrio hidroeletrolítico e hidratação no paciente cirúrgico.</strong> Medicina., v. 41, n. 3, p. 287-300, 2008. Disponível em: <a  href="https://www.revistas.usp.br/rmrp/article/view/274/275">Clique aqui.</a> Acesso em: 12 nov. 2021.
            <br><br>        
            DUTRA, V. de F. et al. <strong>Desequilíbrios hidroeletrolíticos na sala de emergência.</strong> Rev Bras Clin Med. São Paulo – SP. v. 10, n. 5, p. 410-419, 2012.
            <br><br>
            ENGELS, M.; CIARKOWSKI, S. <strong>Nursing, pharmacy, and prescriber knowledge and perceptions of high-alert medications in a large, academic medical hospital</strong>. Hosp Pharm., v. 50, n. 4, p. 287-95, 2015. Disponível em: <a href="https://doi.org/10.1310/hpj5004-287">Clique aqui.</a> Acesso em: 25 ago. 2021.
            FRANÇA, N. A. G.; MARTINI, L. A. Cálcio. São Paulo – SP: ILSI Brasil, 2018.
            <br><br>
            GUIMARÃES, B. M.; CRUZ, I. C. F. Hydroeletrolitic control in high complex patient: sistematic literature review. <strong>Journal of specialized Nursing Care</strong>, v. 4, n. 1, 2011. Disponível em: <a href="http://www.jsncare.uff.br/index.php/jsncare/article/view/2353/525">Clique aqui.</a>. Acesso em: 5 nov. 2021.
            <br><br>
            HARRISON, T. R. et al.  <strong>Medicina Interna de Harrison</strong>. 19ª edição. Porto Alegre – RS: AMGH, 2017.
            LOBO, D. N.; LEWINGTON, A. J. P.; ALLISON, S. P.  <strong>Basic Concepts of Fluid and Electrolyte Therapy</strong>. Melsungen – Hesse: Bibliomed, 2013.
            <br><br>
            MONTEIRO, T. H.; VANNUCCHI, H.; PAULA, B. M. F.  <strong>Fósforo</strong>. 2ª edição. São Paulo – SP: ILSI, 2017.
            <br><br>
            NANDA INTERNATIONAL.  <strong>Diagnósticos De Enfermagem da NANDA-I</strong>: Definições e Classificação. 2018-2020. 11 ed. Porto Alegre: Artmed, 2018.
            <br><br>
            PAULA, F. J. A.; FOSS, M. C.  <strong>Tratamento da hipercalcemia e hipocalcemia</strong>. Medicina, v. 36, p. 370-4, 2003. Disponível em: <a href="https://www.revistas.usp.br/rmrp/article/download/736/750/1438">Clique aqui.</a> Acesso em: 22 ago. 2021.
            <br><br>
            SOUZA, M. L. et al.  <strong>Revisão da literatura sobre os principais distúrbios hidroeletrolíticos</strong>. Rev. Saberes, v. 14, n. 1, 2020. Disponível em: <a href="https://facsaopaulo.edu.br/wp-content/uploads/sites/16/2020/09/REVIS%C3%83O-DA-LITERATURA-SOBRE-OS-PRINCIPAIS-DIST%C3%9ARBIOS-HIDROELETROL%C3%8DTICOS.pdf">Clique aqui.</a> Acesso em: 29 set. 2021.
            <br><br>
            SHRIMANKER, I.; BHATTARAI, S.  <strong>Electrolytes</strong>. 2020. In: StatPearls. Treasure Island (FL): StatPearls Publishing; 2020.
            <br><br>
            TORTORA, G. J.  <strong>Princípios de anatomia e fisiologia</strong>. 12 ed. Rio de Janeiro: Guanabara Koogan, 2010.
        </p>

    </div>
</body>

</html>