<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title></title>
    <link rel="stylesheet" href="../libs/bootstrap.css">
    <style>
        @font-face {
            font-family: "Lobster-Regular";
            src: url("../../fonts/Metropolis-Regular.ttf") format("truetype");
        }

        html {
            width: 100%;
        }

        body {
            background-color: white;
            font-size: 4vw;
            width: 100%;
            padding: 5%;
        }

        h1 {
            font-family: Lobster-Regular;
            font-size: 8vw;
        }

        p {
            margin-top: 5vw;
            margin-bottom: 5vw;
        }
    </style>

</head>
<body>
    <div>
      <!--  <img src="./banner.png" alt="Banner" width="100%"
            style="height: 350px; border-radius: 20px;object-fit: cover; margin-bottom: 20px;" />-->

        <h1>
            <span><strong>Intervenções de enfermagem</strong></span>
        </h1>

        <p style="text-align: start;">
            De maneira subsequente a NANDA-I, a Nursing Interventions Classification (NIC, 2010) representa um conjunto de medidas relacionadas a implementação das ações de enfermagem. Através do julgamento terapêutico, são propostas intervenções de “Controle de Eletrólitos” que deverão ser estabelecidas pela equipe multidisciplinar. Estas, por sua vez, são definidas pela promoção do equilíbrio eletrolítico e prevenção de complicações resultantes de níveis de eletrólitos séricos anormais ou indesejados. <br><br>
            Segue as intervenções de controle de eletrólitos, propostas pela Nursing Interventions Classification, 2010: 
        </p>
        <ul>
            <li>Monitorar níveis anormais de eletrólitos séricos, se possível.</li>
            <li>Monitorar a ocorrência de manifestações de desequilíbrio eletrolítico. </li>
            <li>Manter acesso endovenoso desobstruído.</li>
            <li>Administrar líquidos conforme a prescrição, se adequado.</li>
            <li>Manter registro preciso da ingestão e da eliminação.</li>
            <li>Manter solução intravenosa com eletrólito(s) num gotejamento constante, conforme apropriado</li>
            <li>Administrar eletrólitos suplementares (p. ex., via oral, nasogástrica e intravenosa), conforme prescrito e, se apropriado. </li>
            <li>Consultar o médico sobre a administração de medicamentos poupadores de eletrólitos (p. ex., espironolactona), conforme prescrição, se apropriado.</li>
            <li>Obter amostras prescritas para análise laboratorial dos níveis de eletrólitos (p. ex., gasometria arterial, urina e níveis séricos), conforme apropriado.</li>
            <li>Monitorar a ocorrência de perda de líquidos ricos em eletrólitos (p. ex., aspiração nasogástrica, drenagem de ileostomia, diarreia, drenagem de ferida e sudorese).</li>
            <li>Instituir medidas de controle de perda excessiva de eletrólitos (p. ex., por meio de controle intestinal, troca do tipo de diurético ou administração de antipiréticos), conforme apropriado.</li>
            <li>Irrigar as sondas nasogástricas com solução fisiológica.</li>
            <li>Minimizar a quantidade de lascas de gelo ou ingestão oral consumida pelo paciente com sondas gástricas conectadas à sucção.</li>
            <li>Oferecer uma dieta adequada ao desequilíbrio eletrolítico do paciente (p. ex., se hipopotassemia, incentivar a alimentação com alimentos ricos em potássio, pobres em sódio e pobres em carboidratos).</li>
            <li>Orientar o paciente e/ou familiares sobre as modificações específicas na dieta, conforme apropriado.</li>
            <li>Proporcionar um ambiente seguro a paciente com manifestações neurológicas e/ou neuromusculares de desequilíbrio eletrolítico.</li>
            <li>Promover a orientação.</li>
            <li>Ensinar o paciente e a família a respeito do tipo, da causa e dos tratamentos para desequilíbrio eletrolítico, conforme apropriado.</li>
            <li>Consultar o médico quando sinais e sintomas de desequilíbrio hídrico e/ou eletrolítico persistirem ou piorarem.</li>
            <li>Monitorar a resposta do paciente à terapia eletrolítica prescrita.</li>
            <li>Monitorar a ocorrência de efeitos secundários dos eletrólitos suplementares prescritos (p. ex., irritação gastrointestinal).</li>
            <li>Monitorar atentamente os níveis séricos de potássio de pacientes que usam digitálicos e diuréticos.</li>
            <li>Colocar em monitor cardíaco, conforme apropriado.</li>
            <li>Tratar as arritmias cardíacas, conforme a política da instituição.</li>
            <li>Preparar o paciente para diálise (p. ex., auxiliar na colocação do cateter para a diálise), conforme apropriado.</li>
        </ul>

        <!-- <iframe title="teste" id="ytplayer" type="text/html" style="width: 90vw; height: 60vw;"
            src="http://www.youtube.com/embed/zhfasJg5xQk?autoplay=1&start=31"></iframe> -->

    </div>
</body>

</html>