<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title></title>
    <link rel="stylesheet" href="../libs/bootstrap.css">
    <style>
        @font-face {
            font-family: "Lobster-Regular";
            src: url("../../fonts/Metropolis-Regular.ttf") format("truetype");
        }

        html {
            width: 100%;
        }

        body {
            background-color: white;
            font-size: 4vw;
            width: 100%;
            padding: 5%;
        }

        h1 {
            font-family: Lobster-Regular;
            font-size: 8vw;
        }

        p {
            margin-top: 5vw;
            margin-bottom: 5vw;
        }
    </style>

</head>

<body>
    <div>
        <!--  <img src="./banner.png" alt="Banner" width="100%"
            style="height: 350px; border-radius: 20px;object-fit: cover; margin-bottom: 20px;" />-->

        <h1>
            <span><strong>Sódio – Cloreto de sódio</strong></span>
        </h1>

        <div style="text-align: start;">
            <p> <span><strong>Apresentação da droga</strong></span></p>
            <p>Injetável: Cloreto de sódio 10% e 20%. Ampola contendo 10 mL em embalagem com 200 ampolas plásticas de
                polietileno transparente. Cloreto de sódio 0,9% - Frascos, ampolas e bolsas (variados mls).<br><br></p>

            <p> <span><strong>Indicação</strong></span></p>
            <p>Esse medicamento é indicado como fonte de cloreto, sódio e água para hidratação, nos casos de distúrbios
                do equilíbrio hidro-eletrolítico. É indicado também no tratamento de choque hipovolêmico e como base
                para preparações de soluções parenterais compatíveis.<br><br></p>

            <p> <span><strong>Contraindicação</strong></span></p>
            <p>Hipersensibilidade aos componentes da droga, em casos de hipernatremia, retenção hídrica e
                hipercloremia.<br><br></p>

            <p> <span><strong>Cuidados específicos e monitoramento </strong></span></p>
            <p>
                A solução injetável contendo cloreto de sódio deve ser administrada com cautela em pacientes com hipertensão, insuficiência cardíaca congestiva, nefropatíase, com pré-eclâmpsia, edema pulmonar e obstrução do trato urinário.<br><br>

                Não é aconselhado que a concentração sérica de sódio do paciente aumente ou diminua mais do que 12mEq/L de correção em 24 horas, devido ao risco de síndrome desmielinizante, no caso de correção demasiadamente rápida para hiponatremia e de edema cerebral na correção da hipernatremia. Em geral, em casos sintomáticos, um aumento na concentração de 4 a 6 mEq/L é satisfatório para controlar os sintomas. 
                
                <br><br>
            </p>

            <p> <span><strong>Dose</strong></span></p>
            <p>A administração é definida de acordo com as necessidades individuais de cada paciente. A definição da dosagem deste medicamento depende da idade, do peso, das condições clínicas do paciente, do medicamento diluído em solução e das determinações em laboratório.<br><br></p>

            <p> <span><strong>Via de administração</strong></span></p>
            <p>Endovenosa, somente administrar o medicamento após a diluição.<br><br></p>

            <p> <span><strong>Administração</strong></span></p>
            <ul>
                <li>Soluções hipertônicas somente devem ser utilizadas na correção inicial de hiponatremia grave, soluções com concentração > 2% devem ser infundidas somente por meio de acesso venoso central.</li>
                <li>Adulto e Pediátrico: Não ultrapassar 1mEq/kg/hora.</li>
                <li>Medicamento vesicante: pode ser administrado via acesso periférico, respeitando a concentração (menor ou igual a 10mL/100mL), seguindo orientações da diretriz para medicamento irritante/vesicante. Para concentrações maiores considerar o uso de CVC.</li>
            </ul>
            <br><br>

            <p> <span><strong>Interação medicamentosa</strong></span></p>
            <ul>
                <li>Há incompatibilidade desta solução com anfotericina B, ocorrendo precipitação desta substância, e com o glucagon. Consultar um farmacêutico sempre que necessário.</li>
                <li>Aconselha-se cautela em pacientes tratados com lítio.</li>
                <li>Alguns medicamentos, principalmente corticosteróides, podem reagir com este produto, aumentando seus efeitos adversos.</li>
            </ul>

        </div>

        <!-- <iframe title="teste" id="ytplayer" type="text/html" style="width: 90vw; height: 60vw;"
            src="http://www.youtube.com/embed/zhfasJg5xQk?autoplay=1&start=31"></iframe> -->

    </div>
</body>

</html>