<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title></title>
    <link rel="stylesheet" href="../libs/bootstrap.css">
    <style>
        @font-face {
            font-family: "Lobster-Regular";
            src: url("../../fonts/Metropolis-Regular.ttf") format("truetype");
        }

        html {
            width: 100%;
        }

        body {
            background-color: white;
            font-size: 4vw;
            width: 100%;
            padding: 5%;
        }

        h1 {
            font-family: Lobster-Regular;
            font-size: 8vw;
        }

        p {
            margin-top: 5vw;
            margin-bottom: 5vw;
        }
    </style>

</head>

<body>
    <div>

        <h1>
            <span><strong>Sódio – Cloreto de sódio</strong></span>
        </h1>

        <div style="text-align: start;">

            <p>Sumário:</p>
            <ul>
                <li>Apresentação da droga</li>
                <li>Indicação</li>
                <li>Contraindicação</li>
                <li>Cuidados específicos e monitoramento</li>
                <li>Dose</li>
                <li>Via de administração</li>
                <li>Administração</li>
                <li>Interação medicamentosa</li>
                <li>Efeitos adversos</li>
                <li>Estabilidade/Conservação</li>
                <li>Toxicologia</li>
                <li>Uso durante a gestação</li>
                <li>Hiponatremia
                <li>Definição</li>
                </li>
                <li>Causas</li>
                <li>Sinais e sintomas</li>
                <li>Tratamento</li>
                <li>Hipernatremia
                <li>Definição</li>
                <li>Causas</li>
                <li>Sinais e sintomas</li>
                <li>Tratamento</li>
                </li>

            </ul>

            <p> <span><strong>Apresentação da droga</strong></span></p>


            <p> <span><strong>Indicação</strong></span></p>
            <ul>
                <li>
                    Fonte de cloreto, sódio e água para hidratação, nos casos de distúrbios do equilíbrio
                    hidroeletrolítico.
                </li>
                <li>Tratamento de choque hipovolêmico.</li>
                <li>
                    Base para preparações de soluções parenterais compatíveis.
                </li>
            </ul>

            <p> <span><strong>Contraindicação</strong></span></p>
            <ul>
                <li>
                    Hipersensibilidade aos componentes da droga.

                </li>
                <li>
                    Hipernatremia.
                </li>
                <li>
                    Retenção hídrica.
                </li>
                <li>
                    Hipercloremia.
                </li>
            </ul>

            <p> <span><strong>Cuidados específicos e monitoramento </strong></span></p>

            <p> <span><strong>Dose</strong></span></p>
            <ul>
                <li>
                    A definição da dosagem deste medicamento depende da:
                </li>
            </ul>

            <p> <span><strong>Administração</strong></span></p>
            <ul>

                <p> <span><strong>Interação medicamentosa</strong></span></p>
                <ul>
                    <li>Incompatibilidade com anfotericina B, ocorrendo precipitação desta substância, e com o glucagon.
                        Consultar um farmacêutico sempre que necessário.</li>
                    <li>Aconselha-se cautela em pacientes tratados com lítio.</li>
                    <li>Alguns medicamentos, principalmente corticosteróides, podem reagir com este produto, aumentando
                        seus efeitos adversos.</li>
                </ul>

                <p> <span><strong>Efeitos adversos</strong></span></p>


                <p> <span><strong>Estabilidade/Conservação</strong></span></p>
                <ul>
                    <li>A solução injetável de cloreto de sódio tem duração de 24 horas em temperatura ambiente (entre
                        15°C e 30°C). </li>
                    <li>
                        É uma solução estéril e apirogênica, logo, não proceda em hipótese alguma a guarda e/ou
                        conservação de volumes restantes das soluções utilizadas, devendo as mesmas serem descartadas.
                    </li>
                </ul>

                <p> <span><strong>Toxicologia</strong></span></p>
                <ul>
                    <li>Está, na maioria dos casos, relacionada ao aumento rápido das concentrações séricas de sódio.
                    </li>
                    <li>O monitoramento de sódio e a avaliação do paciente são extremamente importantes. </li>
                    <li>
                        O aumento rápido dos níveis de sódio na correção da hiponatremia crônica está relacionado à
                        desmielinização da ponte, conhecida como mielinólise pontina, com graves sequelas neurológicas e
                        óbito.
                    </li>
                </ul>

                <p> <span><strong>Uso durante a gestação</strong></span></p>
                <ul>
                    <li>
                        ​Categoria C: Não há estudos suficientes para certificar a segurança do medicamento durante a
                        gravidez. O medicamento deve ser administrado apenas se o benefício potencial justificar o
                        risco.
                    </li>
                </ul>

                <p> <span><strong>Hiponatremia</strong></span></p>
                <ul>
                    <li>
                        Concentração de sódio abaixo da normalidade (< 135 mEq/L). </li>
                    <li>
                        Geralmente a hiponatremia é assintomática.
                    </li>
                    <li>Ao atingir valores inferiores a 125 mEq/L, manifestam importante quadro sintomatológico
                        (manifestações clínicas). </li>
                </ul>

                <p>Causas</p>
                <p>Atenção: A hiponatremia de diluição desenvolve-se pela sobrecarga hídrica que, quase sempre, advém de
                    uma inadequação terapêutica, que ocorre quando o organismo perde secreção contendo sódio e a
                    reposição se faz apenas com solução glicosada ou com soluções hipotônicas, também é identificado
                    esse quadro na insuficiência cardíaca congestiva, cirrose hepática, doença renal com oligúria,
                    secreção inadequada do hormônio antidiurético e doença de Addison.
                    Sinais e sintomas
                </p>

                <p>Tratamento</p>
                <p>DOSE ÚNICA</p>
                <ul>
                    <li>Calcular a quantidade de sódio.
                    </li>
                    <li>Administrar EV em 8 horas.</li>
                    <li>Não exceder 0,5mEq/h (100mL/h) das soluções hipertônicas (3%) e 10mEq/24horas.</li>
                </ul>
                <p>DOSE DE MANUTENÇÃO</p>
                <p>Manter até que a concentração de sódio atinja 130mEq/L ou até que os sintomas neurológicos desapareçam. </p>
                <p>Adulto – Hiponatremia aguda (abaixo de 130mEq/L)</p>
                <br>
                <p>Cálculo de água corporal total</p>
                <p>Homens</p>
                <ul>
                    <li>Adultos: Peso (Kg) x 0,6;</li>
                    <li>Idosos: Peso (Kg) x 0,5.</li>
                </ul>
                <p>Mulheres</p>
                <li>Adultas: Peso (Kg) x 0,5;</li>
                <li>Idosas: Peso (Kg) x 0,45.</li>
                <p>DOSE ÚNICA:  3 a 4 mEq/kg/dia.</p>
                <p>DOSE MÁXIMA: 100 a 150 mEq/dia.</p>
                <p>Pediatria - Hiponatremia aguda (abaixo de 120mEq/L)</p>
                <br>
                <p>Calculo de água corporal total
                </p>
                <ul>
                    <li>Peso (Kg) x 0,6. </li>
                </ul>
                <p>Na hiponatremia por diluição, que corresponde à intoxicação hídrica, o tratamento visa sobretudo à eliminação do excesso de água mediante uso de diurético osmótico (Manitol), com reposição de sódio somente em casos com concentração abaixo de 110mEq/l, observando se cuidadosamente sinais de insuficiência cardíaca.                </p>

                <p> <span><strong>Hipernatremia</strong></span></p>
                <ul>
                    <li>Alta concentração de sódio (acima de 145 mEq/L), em comparação a quantidade de água presente no organismo. </li>
                    <li>A hipernatremia é menos frequente que a hiponatremia. </li>
                </ul>
                <p>Causas</p>
                <br>
                <p>Sinais e sintomas</p>
                <p>Observação: Em pacientes com ingestão inadequada de água, a hipernatremia pode causar sintomas respiratórios como edema pulmonar, embolia ou pneumonia.</p>
                <br>
                <p>Tratamento</p>
                <br>
                <p
                style="font-size: 4vw">VÍDEO: Hipo e Hipernatremia: Os distúrbios do Sódio. https://www.youtube.com/watch?v=ivJxR7C8paw</p>


        </div>

    </div>
</body>

</html>