<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title></title>
    <link rel="stylesheet" href="../libs/bootstrap.css">
    <style>
        @font-face {
            font-family: "Lobster-Regular";
            src: url("../../fonts/Metropolis-Regular.ttf") format("truetype");
        }

        html {
            width: 100%;
        }

        body {
            background-color: white;
            font-size: 4vw;
            width: 100%;
            padding: 5%;
        }

        h1 {
            font-family: Lobster-Regular;
            font-size: 8vw;
            text-align: center;
        }

        p {
            margin-top: 2px; 
            font-size: 4vw
        }
        p.title{
            margin-top: 6vw;
            margin-bottom: 3vw;
            font-size: 5vw;
        }
        p.sumario {
            font-size: 3.5vw;
            font-weight: 700;
            margin-bottom: 0px;
        }
        p.subTitle {
            font-size: 3.5vw;
            text-align: center;
        }
        p.textTopico{
            margin: 0px; 
            padding: 20px; 
            font-size:3vw;
            color: white;
            font-weight: bold;
            text-align: center;

        }
        div.topico1 {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            background-color: #EA702A;
            border: 3px;
            border-top-left-radius: 100px;
            border-bottom-left-radius: 100px;
            box-shadow: 1px 1px 2px black;
            margin: 10px;
        }

        div.topico2 {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            background-color: #9A9A9A;
            border: 3px;
            border-top-left-radius: 100px;
            border-bottom-left-radius: 100px;
            box-shadow: 1px 1px 2px black;
            margin: 10px;
        }

        div.topico3 {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            background-color: #F7C02F;
            border: 3px;
            border-top-left-radius: 100px;
            border-bottom-left-radius: 100px;
            box-shadow: 1px 1px 2px black;
            margin: 10px;
        }

        div.topico4 {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            background-color: #448BCB;
            border: 3px;
            border-top-left-radius: 100px;
            border-bottom-left-radius: 100px;
            box-shadow: 1px 1px 2px black;
            margin: 10px;
        }

        div.topico5 {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            background-color: #64A638;
            border: 3px;
            border-top-left-radius: 100px;
            border-bottom-left-radius: 100px;
            box-shadow: 1px 1px 2px black;
            margin: 10px;
        }

        img.icons {
            width: 90px;
            height: 90px;
            object-fit: cover;
            margin-bottom: 20px
        }
    </style>

</head>

<body>
    <div>

        <h1>
            <span><strong>Sódio – Cloreto de sódio</strong></span>
        </h1>

        <div style="text-align: start;">

            <div style="margin-top: 50px; font-size: 3.5vw">
                <p class="sumario">Sumário:</p>
                <ul>
                    <li><a href="#apresentacao">Apresentação da droga</a></li>
                    <li><a href="#indicacao">Indicação</a></li>
                    <li><a href="#contraindicacao">Contraindicação</a></li>
                    <li><a href="#cuidados">Cuidados específicos e monitoramento</a></li>
                    <li><a href="#dose">Dose</a></li>
                    <li><a href="#adm">Administração</a></li>
                    <li><a href="#interacao">Interação medicamentosa</a></li>
                    <li><a href="#efeitosAdversos">Efeitos adversos</a></li>
                    <li><a href="#conservacao">Estabilidade/Conservação</a></li>
                    <li><a href="#toxicologia">Toxicologia</a></li>
                    <li><a href="#gestacao">Uso durante a gestação</a></li>

                    <li><a href="#hiponatremia">Hiponatremia</a></li>
                    <ul>
                        <li><a href="#definicaoHipo">Definição</a></li>
                        <li><a href="#causasHipo">Causas</a></li>
                        <li><a href="#sinaisHipo">Sinais e sintomas</a></li>
                        <li><a href="#tratamentoHipo">Tratamento</a></li>
                    </ul>


                    <li><a href="#hipernatremia">Hipernatremia</a></li>
                    <ul>
                        <li><a href="#definicaoHiper">Definição</a></li>
                        <li><a href="#causasHiper">Causas</a></li>
                        <li><a href="#sinaisHiper">Sinais e sintomas</a></li>
                        <li><a href="#tratamentoHiper">Tratamento</a></li>
                    </ul>

                </ul>
            </div>

            <p id="apresentacao" class="title"><span><strong>Apresentação da droga</strong></span></p>
            <img src="assets/conteudo4.png" alt="Banner" width="100%"
                style="height: 350px; object-fit: cover; margin-bottom: 20px;" />

            <p id="indicacao" class="title"> <span><strong>Indicação</strong></span></p>
            <div style="display: flex; align-items:center;">
                <img src="assets/conteudo4f.png" alt="Banner" width="240"
                    style="height:250px; object-fit: cover; margin-bottom: 20px; margin-left: 2px; margin-right: 30px" />
                <ul>
                    <li>
                        Fonte de cloreto, sódio e água para hidratação, nos casos de distúrbios do equilíbrio
                        hidroeletrolítico.
                    </li>
                    <li>Tratamento de choque hipovolêmico.</li>
                    <li>
                        Base para preparações de soluções parenterais compatíveis.
                    </li>
                </ul>
            </div>

            <p id="contraindicacao" class="title"> <span><strong>Contraindicação</strong></span></p>
            <div style="display: flex; align-items:center; justify-content:center">
                <ul>
                    <li>
                        Hipersensibilidade aos componentes da droga.

                    </li>
                    <li>
                        Hipernatremia.
                    </li>
                    <li>
                        Retenção hídrica.
                    </li>
                    <li>
                        Hipercloremia.
                    </li>
                </ul>
                <img src="assets/conteudo4e.png" alt="Banner" width="220"
                    style="height:220px; object-fit: cover; margin-bottom: 20px; margin-left: 2px; margin-right: 30px" />
            </div>

            <p id="cuidados" class="title"> <span><strong>Cuidados específicos e monitoramento </strong></span></p>
            <div style="display: flex; align-items:center; justify-content: center;">
                    <img src="assets/aviso.png" alt="Icons" class="icons"/>
                    <div class="topico1">
                        <p class="textTopico">Administração cautelosa em pacientes com hipertensão, insuficiência cardíaca congestiva, nefropatias, com pré-eclampsia, edema pulmonar e obstrução do trato urinário.</p>
                    </div>
            </div>
            <div style="display: flex; align-items:center; justify-content: center;">
                <img src="assets/aviso.png" alt="Icons" class="icons"/>
                <div class="topico2">
                    <p class="textTopico">Não é aconselhado que a concentração sérica de sódio do paciente aumente ou diminua acima de 12mEq/L de correção em 24 horas, devido ao risco de síndrome desmielinizante, no caso de correção demasiadamente rápida para hiponatremia e de edema cerebral na correção da hipernatremia. 
                    </p>
                </div>
            </div>
            <div style="display: flex; align-items:center; justify-content: center;">
                <img src="assets/aviso.png" alt="Icons" class="icons"/>
                <div class="topico3">
                    <p class="textTopico">Em geral, em casos sintomáticos, um aumento na concentração de 4 a 6 mEq/L é satisfatório para controlar os sintomas.
                    </p>
                </div>
            </div>


            <p id="dose" class="title"> <span><strong>Dose</strong></span></p>
            <ul>
                <li>
                    A definição da dosagem deste medicamento depende da:
                </li>
            </ul>
            <img src="assets/conteudo4c.png" alt="Banner" width="100%"
                style="height:100% ; object-fit: cover; margin-bottom: 20px;" />


            <p id="adm" class="title"> <span><strong>Administração</strong></span></p>
            <img src="assets/conteudo4d.png" alt="Banner" width="100%"
                style="height:100% ; object-fit: cover; margin-bottom: 20px;" />


            <p id="interacao" class="title"> <span><strong>Interação medicamentosa</strong></span></p>
            <div style="display: flex; align-items:center; justify-content:center">
                <ul>
                    <li>Incompatibilidade com anfotericina B, ocorrendo precipitação desta substância, e com o glucagon.
                        Consultar um farmacêutico sempre que necessário.</li>
                    <li>Aconselha-se cautela em pacientes tratados com lítio.</li>
                    <li>Alguns medicamentos, principalmente corticosteróides, podem reagir com este produto, aumentando
                        seus efeitos adversos.</li>
                </ul>
            </div>


            <p id="efeitosAdversos" class="title"><span><strong>Efeitos adversos</strong></span></p>
            <img src="assets/conteudo4h.png" alt="Banner" width="100%"
                style="height:100% ; object-fit: cover; margin-bottom: 20px;" />



            <p id="conservacao" class="title"> <span><strong>Estabilidade/Conservação</strong></span></p>
            <div style="display: flex; align-items:center; justify-content:center">
                <ul>
                    <li>A solução injetável de cloreto de sódio tem duração de 24 horas em temperatura ambiente (entre
                        15°C e 30°C). </li>
                    <li>
                        É uma solução estéril e apirogênica, logo, não proceda em hipótese alguma a guarda e/ou
                        conservação de volumes restantes das soluções utilizadas, devendo as mesmas serem descartadas.
                    </li>
                </ul>
                <img src="assets/conteudo4i.png" alt="Banner" width="220"
                    style="height:220px; object-fit: cover; margin-bottom: 20px; margin-left: 2px; margin-right: 30px" />
            </div>


            <p id="toxicologia" class="title"> <span><strong>Toxicologia</strong></span></p>
            <ul>
                <li>Está, na maioria dos casos, relacionada ao aumento rápido das concentrações séricas de sódio.
                </li>
                <li>O monitoramento de sódio e a avaliação do paciente são extremamente importantes. </li>
                <li>
                    O aumento rápido dos níveis de sódio na correção da hiponatremia crônica está relacionado à
                    desmielinização da ponte, conhecida como mielinólise pontina, com graves sequelas neurológicas e
                    óbito.
                </li>
            </ul>


            <p id="gestacao" class="title"> <span><strong>Uso durante a gestação</strong></span></p>
            <div style="display: flex; align-items:center; justify-content:center">
                <img src="assets/conteudo4j.png" alt="Banner" width="250"
                    style="height:250px; object-fit: cover; margin-bottom: 20px; margin-left: 2px; margin-right: 30px" />
                <p>
                    ​Categoria C: Não há estudos suficientes para certificar a segurança do medicamento durante a
                    gravidez. O medicamento deve ser administrado apenas se o benefício potencial justificar o
                    risco.
                </p>
            </div>


            <p id="hiponatremia" class="title"><span><strong>Hiponatremia</strong></span></p>
            <div style="display: flex; align-items:center; justify-content:center">
                <ul>
                    <li>
                        Concentração de sódio abaixo da normalidade (< 135 mEq/L). </li>
                    <li>
                        Geralmente a hiponatremia é assintomática.
                    </li>
                    <li>Ao atingir valores inferiores a 125 mEq/L, manifestam importante quadro sintomatológico
                        (manifestações clínicas). </li>
                </ul>
            </div>
            

            <p id="causasHipo" class="subTitle"><strong>Causas</strong></p>
            <img src="assets/conteudo4k.png" alt="Banner" width="100%"
                style="height:100% ; object-fit: cover; margin-bottom: 20px;" />
            <p><strong>Atenção:</strong> A hiponatremia de diluição
                desenvolve-se pela sobrecarga hídrica que, quase sempre, advém de
                uma inadequação terapêutica, que ocorre quando o organismo perde secreção contendo sódio e a
                reposição se faz apenas com solução glicosada ou com soluções hipotônicas, também é identificado
                esse quadro na insuficiência cardíaca congestiva, cirrose hepática, doença renal com oligúria,
                secreção inadequada do hormônio antidiurético e doença de Addison.</p>

            <p id="sinaisHipo" class="subTitle"><strong>Sinais e sintomas</strong></p>
            <img src="assets/conteudo4x.png" alt="Banner" width="100%"
                style="height:100% ; object-fit: cover; margin-bottom: 20px;" />

            <br><br>

            <p id="tratamendoHipo" class="subTitle"><strong>Tratamento</strong></p>
           
            <div style="display: flex; padding:0; border: 3px solid black ">
                <div style="border-right: 3px solid black;">
                    <p style="background-color: #FAC02F; font-weight:bold; text-align:center;
                    border-bottom: 3px solid black">DOSE ÚNICA</p>
                    <ul>
                        <li>Calcular a quantidade de sódio.</li>
                        <li>Administrar EV em 8 horas.</li>
                        <li>Não exceder 0,5mEq/h (100mL/h) das soluções hipertônicas (3%) e 10mEq/24horas.</li>
                    </ul>
                </div>
                <div>
                    <p style="background-color: #FAC02F; font-weight:bold; text-align:center; border-bottom: 3px solid rgb(0, 0, 0);">DOSE DE MANUTENÇÃO</p>
                    <p style="text-align: justify; margin: 10px">Manter até que a concentração de sódio atinja 130mEq/L ou até que os sintomas neurológicos desapareçam.</p>
                </div>
            </div>

            <p style="font-size: 3vw; margin-top:0px">Adulto – Hiponatremia aguda (abaixo de 130mEq/L)</p>

            <br>
            <p class="subTitle"><strong>Cálculo de água corporal total</strong></p>
            <p style="margin-top:2px; margin-bottom:2px">Homens</p>
            <ul>
                <li>Adultos: Peso (Kg) x 0,6;</li>
                <li>Idosos: Peso (Kg) x 0,5.</li>
            </ul>
            <p style="margin-top:2px; margin-bottom:2px">Mulheres</p>
            <li>Adultas: Peso (Kg) x 0,5;</li>
            <li>Idosas: Peso (Kg) x 0,45.</li>
                <div style="display: flex; padding:0; border: 3px solid black; ">
                    <div style="border-right: 3px solid black;width: 50%">
                        <p style="background-color: #FAC02F; font-weight:bold; text-align:center;
                        border-bottom: 3px solid black">DOSE ÚNICA</p>
                        <p style="text-align: justify; margin: 10px"> 3 a 4 mEq/kg/dia.</p>
                    </div>
                    <div style="width: 50%">
                        <p style="background-color: #FAC02F; font-weight:bold; text-align:center; border-bottom: 3px solid rgb(0, 0, 0);">DOSE MÁXIMA</p>
                        <p style="text-align: justify; margin: 10px">100 a 150 mEq/dia.</p>
                    </div>
                </div>
            <p style="font-size: 3vw; margin-top:0px">Pediatria - Hiponatremia aguda (abaixo de 120mEq/L)</p>

            <ul>
                <li>Peso (Kg) x 0,6. </li>
            </ul>
            <p class="subTitle" style="margin-top:5px">Na hiponatremia por diluição, que corresponde à intoxicação hídrica, o tratamento visa sobretudo à eliminação do excesso de água mediante uso de diurético osmótico (Manitol), com reposição de sódio somente em casos com concentração abaixo de 110mEq/l, observando se cuidadosamente sinais de insuficiência cardíaca. </p>

            <p id="hipernatremia" class="title"> <span><strong>Hipernatremia</strong></span></p>
            <ul>
                <li>Alta concentração de sódio (acima de 145 mEq/L), em comparação a quantidade de água presente no
                    organismo. </li>
                <li>A hipernatremia é menos frequente que a hiponatremia. </li>
            </ul>
            <p id="causasHiper" class="subTitle"><strong>Causas</strong></p>
                <div>
                <div class="topico1"
                style="border-radius: 10px; height:100px">
                    <p class="textTopico">Desidratação, com perda de água proporcionalmente maior que a de sódio </p>
                </div>
                <div class="topico2"
                style="border-radius: 10px; height:90px">
                    <p class="textTopico">Diabetes</p>
                </div>
                <div class="topico3"
                style="border-radius: 10px; height:90px">
                    <p class="textTopico">Febre</p>
                </div>
                <div class="topico4"
                style="border-radius: 10px; height:90px">
                    <p class="textTopico">Insolação</p>
                </div>
                <div class="topico5"
                style="border-radius: 10px; height:90px">
                    <p class="textTopico">Hiperventilação</p>
                </div>
                <div class="topico1"
                style="border-radius: 10px; height:90px">
                    <p class="textTopico">Excesso de sódio na alimentação</p>
                </div>
                <div class="topico2"
                style="border-radius: 10px; height:90px">
                    <p class="textTopico">Reposição insuficiente de perdas hídricas</p>
                </div>
                <div class="topico3"
                style="border-radius: 10px; height:90px">
                    <p class="textTopico">Administração excessiva de solutos em pacientes renais</p>
                </div>
                <div class="topico4"
                style="border-radius: 10px; height:100px">
                    <p class="textTopico">Excesso de esteroides, provocando hipertonicidade do líquido extracelular</p>
                </div>
                </div>
            <br>

            <p id="sinaisHiper" class="subTitle"><strong>Sinais e sintomas</strong></p>
            <img src="assets/conteudo4p.png" alt="Banner" width="100%"
                style="height:100% ; object-fit: cover; margin-bottom: 20px;" />
            <p style="font-size: 3.5vw; margin-top:10px">Observação: Em pacientes com ingestão inadequada de água, a
                hipernatremia pode causar sintomas
                respiratórios como edema pulmonar, embolia ou pneumonia.</p>

            <p id="tratamentoHiper" class="subTitle"><strong>Tratamento</strong></p>
            <div>
                <div class="topico1"
                style="border-radius: 3px; height:80px">
                    <p class="textTopico">
                        Combate da etiologia
                    </p>
                </div>
                <div class="topico2"
                style="border-radius: 3px; height:140px">
                    <p class="textTopico">
                        Infusão de soro glicosado a 5% na velocidade de 3 a 6 ml/kg/h, até que o nível sérico de sódio seja menor que 145mEq/L.</p>
                </div>
                <div class="topico3"
                style="border-radius: 3px; height:100px">
                    <p class="textTopico">Após 145mEq/L a velocidade pode ser reduzida para 1mL/kg/h até normonatremia (140mEq/L).</p>
                </div>
                <div class="topico4"
                style="border-radius: 3px; height:150px">
                    <p class="textTopico">O objetivo é a redução de sódio em 1 a 2mEq/L/h. No entanto, deve-se evitar uma redução rápida do sódio para evitar lesões adicionais no sistema nervoso central.</p>
                </div>
            </div>

            <br>

            <p style="font-size: 4vw; background-color:#FFF952"><a
                    href="https://www.youtube.com/watch?v=ivJxR7C8paw">VÍDEO: Hipo e Hipernatremia: Os distúrbios do
                    Sódio.
                </a></p>


        </div>

    </div>
</body>

</html>