<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title></title>
    <link rel="stylesheet" href="../libs/bootstrap.css">
    <style>
        @font-face {
            font-family: "Lobster-Regular";
            src: url("../../fonts/Metropolis-Regular.ttf") format("truetype");
        }

        html {
            width: 100%;
        }

        body {
            background-color: white;
            font-size: 4vw;
            width: 100%;
            padding: 5%;
        }

        h1 {
            font-family: Lobster-Regular;
            font-size: 8vw;
        }

        p {
            margin-top: 5vw;
            margin-bottom: 5vw;
        }

        p.text {
            font-size: 4vw;
        }

        p.title {
            font-size: 4vw;
            font-weight: bold;
        }

        div.containerFlex {
            display: flex;
            align-items: center;
        }
    </style>

</head>

<body>
    <div>

        <h1>
            <span><strong> Dupla checagem da medicação seguindo os treze certos:</strong></span>
        </h1>

        <img src="./assets/conteudo10a.png" alt="Banner" width="100%" style="height: 100%; margin-bottom: 20px;" />

        <div class="containerFlex">
            <img src="./assets/prescricao.png" alt="Banner" width="200px" style="height: 200px; margin-bottom: 20px;" />
            <div style="padding-left: 20px;">
                <p class="title">
                    Prescrição correta
                </p>
                <p class="text">
                    Verificar o nome completo do paciente, a data de nascimento, o nome da mãe, o número do prontuário e
                    data atualizada.
                </p>
            </div>
        </div>

        <div class="containerFlex">
            <div style="padding-right: 20px;">
                <p class="title">
                    Paciente certo
                </p>
                <p class="text">
                    Conferir se é o paciente certo, perguntando o nome completo do mesmo e em seguida conferindo com o
                    prontuário e a pulseira de identificação do paciente, com nome completo e data de nascimento.
                </p>
            </div>
            <img src="./assets/pessoa.png" alt="Banner" width="200px" style="height: 200px; margin-bottom: 20px;" />
        </div>


        <div class="containerFlex">
            <img src="./assets/remedio.png" alt="Banner" width="200px" style="height: 200px; margin-bottom: 20px;" />
            <div style="padding-left: 20px;">
                <p class="title">
                    Medicamento certo
                </p>
                <p class="text">
                    Verificar atenciosamente qual medicamento está sendo prescrito e se o paciente não possui alergias
                    ao composto. Leia o rótulo do medicamento com atenção (nome, validade, conservação...). Rotule
                    seringas e frascos de medicamentos.
                </p>
            </div>
        </div>


        <div class="containerFlex">
            <div style="padding-right: 20px;">
                <p class="title">
                    Validade certa
                </p>
                <p class="text">
                    Observar a data de validade antes de administrar o medicamento.
                </p>
            </div>
            <img src="./assets/validade.png" alt="Banner" width="200px" style="height: 200px; margin-bottom: 20px;" />
        </div>

        <div class="containerFlex">
            <img src="./assets/remedio2.png" alt="Banner" width="200px" style="height: 200px; margin-bottom: 20px;" />
            <div style="padding-left: 20px;">
                <p class="title">
                    Forma/ apresentação certa
                </p>
                <p class="text">
                    Verificar se o medicamento está na sua forma de apresentação correta. 
                </p>
            </div>
        </div>

        <div class="containerFlex">
            <div style="padding-right: 20px;">
                <p class="title">
                    Dose certa
                </p>
                <p class="text">
                    Conferir com atenção a dose prescrita.
                </p>
            </div>
            <img src="./assets/dose.png" alt="Banner" width="200px" style="height: 200px; margin-bottom: 20px;" />
        </div>


        <div class="containerFlex">
            <img src="./assets/compativel.png" alt="Banner" width="200px" style="height: 200px; margin-bottom: 20px;" />
            <div style="padding-left: 20px;">
                <p class="title">
                    Compatibilidade certa
                </p>
                <p class="text">
                    Verificar se a medicação a ser administrada é compatível com outra que o paciente já faz uso e/ou alimentos ingeridos. Verifique também se a medicação é compatível com o quadro de saúde do paciente (por exemplo: prescrição de hidratação elevada em pacientes renais). 
                </p>
            </div>
        </div>


        <div class="containerFlex">
            <div style="padding-right: 20px;">
                <p class="title">
                    Orientação ao paciente
                </p>
                <p class="text">
                    Orientar o paciente sobre a medicação a ser administrada, informando o medicamento, a indicação, a dosagem, a via, possíveis efeitos colaterais e possibilitando ao paciente abertura para possíveis dúvidas. 

                </p>
            </div>
            <img src="./assets/orientacao.png" alt="Banner" width="200px" style="height: 200px; margin-bottom: 20px;" />
        </div>

        <div class="containerFlex">
            <img src="./assets/administracao.png" alt="Banner" width="200px" style="height: 200px; margin-bottom: 20px;" />
            <div style="padding-left: 20px;">
                <p class="title">
                    Via de administração certa
                </p>
                <p class="text">
                    Certificar qual via de administração o medicamento a ser administrado foi prescrito, pois alguns medicamentos possuem diversas vias de administração. 
                </p>
            </div>
        </div>


        <div class="containerFlex">
            <div style="padding-right: 20px;">
                <p class="title">
                    Horário certo
                </p>
                <p class="text">
                    Preparar a medicação no horário certo a ser administrado, para que o tratamento seja mais eficaz. Considerar o preparo para exames (por exemplo: Jejum).
                </p>
            </div>
            <img src="./assets/horario.png" alt="Banner" width="200px" style="height: 200px; margin-bottom: 20px;" />
        </div>

        <div class="containerFlex">
            <img src="./assets/tempoAdm.png" alt="Banner" width="200px" style="height: 200px; margin-bottom: 20px;" />
            <div style="padding-left: 20px;">
                <p class="title">
                    Tempo de administração certo
                </p>
                <p class="text">
                    Certificar qual via de administração o medicamento a ser administrado foi prescrito, pois alguns medicamentos possuem diversas vias de administração. 
                </p>
            </div>
        </div>


        <div class="containerFlex">
            <div style="padding-right: 20px;">
                <p class="title">
                    Ação certa
                </p>
                <p class="text">
                    Esperar uma resposta adequada para o medicamento administrado. 
                </p>
            </div>
            <img src="./assets/certo.png" alt="Banner" width="200px" style="height: 200px; margin-bottom: 20px;" />
        </div>


        <div class="containerFlex">
            <img src="./assets/prescricao.png" alt="Banner" width="200px" style="height: 200px; margin-bottom: 20px;" />
            <div style="padding-left: 20px;">
                <p class="title">
                    Registro certo
                </p>
                <p class="text">
                    Registrar no prontuário do paciente o medicamento administrado, com hora, dose, via, eventos adversos ou quaisquer outras informações que julgar pertinente. 
                </p>
            </div>
        </div>

    </div>
</body>

</html>