<!DOCTYPE html>
<html lang="pt-br" style="width: 100%;">

<head>
    <title></title>
    <link rel="stylesheet" href="../libs/bootstrap.css">
    <style>
        @font-face {
            font-family: "Lobster-Regular";
            src: url("../../fonts/Metropolis-Regular.ttf") format("truetype");
        }

        h1 {
            font-family: Lobster-Regular;
            font-size: 8vw;
        }
    </style>

</head>

<body style="background-color: white;
font-size: 4vw;
width: 100%;
padding: 5%;">
    <div>

        <img src="assets/conteudo2.png" alt="Banner" width="100%"
            style="height: 350px;object-fit: cover; margin-bottom: 10px; margin-top: 10px" />

        <p style="margin-top: 6vw;
        margin-bottom: 3vw;
        font-size: 3.5vw;
        padding: 4px;
        width: 100%;
        background-color: #C00000;
        border: 3px;
        border-radius: 15px;
        color: white;
        box-shadow: 1px 1px 2px black;
        font-weight: bold;
        text-align: center;
        font-style: italic;">North American Nursing Diagnosis Association (NANDA-I)
        </p>

        <p style=" margin-top: 6vw;
            margin-bottom: 1.5vw;
            font-size: 4.5vw;">
            <strong>Risco de desequilíbrio eletrolítico:</strong> suscetibilidade a mudanças nos níveis dos eletrólitos
            séricos.
        </p>
        <ul>
            <li style="margin-top: 1.5vw">
                Fatores de risco: Volume de líquidos deficiente ou excessivo, vômito e diarreia.

            </li>
            <li style="margin-top: 1.5vw">
                Condições associadas: Disfunção endócrina, disfunção renal, mecanismo de regulação comprometido e regime
                de tratamento.
            </li>
        </ul>

        <p style=" margin-top: 6vw;
            margin-bottom: 1.5vw;
            font-size: 4.5vw;">
            <strong>Volume de líquido excessivo:</strong> entrada excessiva e/ou retenção de líquidos.

        </p>
        <ul>
            <li style="margin-top: 1.5vw">
                Características definidoras: Anasarca, alteração na pressão arterial, estado respiratório, estado
                mental, desequilíbrio eletrolítico, ganho de peso, oligúria, dentre outros.

            </li>
            <li style="margin-top: 1.5vw">
                Fatores relacionados: Entrada excessiva de líquidos e/ou sódio.
            </li>
            <li style="margin-top: 1.5vw">
                Condição associada: Mecanismo de regulação comprometido.
            </li>
        </ul>

        <p style=" margin-top: 6vw;
            margin-bottom: 1.5vw;
            font-size: 4.5vw;">
            <strong> Volume de líquido deficiente: </strong>diminuição do líquido intravascular, intersticial e/ou
            intracelular.
        </p>
        <ul>
            <li style="margin-top: 1.5vw">
                Características definidoras: alteração do estado mental, turgor da pele, diminuição do débito urinário,
                fraqueza, pele ressecada, sede e perda de peso.
            </li>
            <li style="margin-top: 1.5vw">
                Fatores relacionados: barreira ao acesso a líquidos, ingestão insuficiente.
            </li>
            <li style="margin-top: 1.5vw">
                Condições associadas: Perda excessiva de líquido, desvios que afetam a absorção ou ingestão, mecanismo
                de regulação comprometidos.
            </li>
        </ul>

        <br>
        <p style="font-size: 4vw; background-color: #FFF952; font-size:3.5vw">
            Você pode conferir informações adicionais sobre a composição de diagnósticos de enfermagem no material
            abaixo: <br> <a
                href="https://www.youtube.com/watch?v=ZDr1lGBirvA">https://www.youtube.com/watch?v=ZDr1lGBirvA</a>
        </p>
    </div>
</body>

</html>