@font-face {
    font-family: "Lobster-Regular";
    src: url("Metropolis-Regular.otf");
}

html {
    width: 100%;
}

body {
    background-color: white;
    font-size: 4vw;
    width: 100%;
    padding: 5%;
}

h1 {
    font-family: Lobster-Regular;
    font-size: 8vw;
}

p {
    margin-top: 5vw;
    margin-bottom: 5vw;
}

p.text {
    font-size: 4vw;
}

p.title {
    font-size: 4vw;
    font-weight: bold;
}

div.containerFlex {
    display: flex;
    align-items: center;
}