<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title></title>
    <link rel="stylesheet" href="../libs/bootstrap.css">
    <style>
        @font-face {
            font-family: "Lobster-Regular";
            src: url("../../fonts/Metropolis-Regular.ttf") format("truetype");
        }

        html {
            width: 100%;
        }

        body {
            background-color: white;
            font-size: 4vw;
            width: 100%;
            padding: 5%;
        }

        h1 {
            font-family: Lobster-Regular;
            font-size: 8vw;
        }

        p {
            margin-top: 5vw;
            margin-bottom: 5vw;
        }

        p.text {
            margin-top: 2px;
            font-size: 4vw
        }

        p.title {
            font-weight: bold;
            font-size: 5vw;
        }

        p.subtitle {
            font-weight: bold;
            font-size: 4.5vw;
        }

        p.topico {
            margin-top: 6vw;
            margin-bottom: 3vw;
            font-size: 5vw;
            padding: 4px;
            width: 100%;
            background-color: #C55A21;
            border: 3px;
            border-radius: 15px;
            color: white;
            box-shadow: 1px 1px 2px black;
            font-weight: bold;
            text-align: center;
            font-style: italic;
        }

        p.textTopico {
            font-size: 3vw;
            padding: 5px;
            color: white;
            font-weight: bold;
            text-align: center;
            margin-left: 10px;
        }

        div.topico {
            margin-top: 6vw;
            margin-bottom: 3vw;
            padding: 4px;
            width: 100%;
            background-color: #ffc000;
            border: 3px;
            border-radius: 15px;
            color: white;
            box-shadow: 1px 1px 2px black;
            font-weight: bold;
            text-align: center;

        }

        div.topico1 {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            background-color: #EA702A;
            border: 3px;
            border-top-left-radius: 100px;
            border-bottom-left-radius: 100px;
            box-shadow: 1px 1px 2px black;
            margin: 10px;
        }

        div.topico2 {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            background-color: #9A9A9A;
            border: 3px;
            border-top-left-radius: 100px;
            border-bottom-left-radius: 100px;
            box-shadow: 1px 1px 2px black;
            margin: 10px;
        }

        div.topico3 {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            background-color: #F7C02F;
            border: 3px;
            border-top-left-radius: 100px;
            border-bottom-left-radius: 100px;
            box-shadow: 1px 1px 2px black;
            margin: 10px;
        }

        div.topico4 {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            background-color: #448BCB;
            border: 3px;
            border-top-left-radius: 100px;
            border-bottom-left-radius: 100px;
            box-shadow: 1px 1px 2px black;
            margin: 10px;
        }

        div.topico5 {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            background-color: #64A638;
            border: 3px;
            border-top-left-radius: 100px;
            border-bottom-left-radius: 100px;
            box-shadow: 1px 1px 2px black;
            margin: 10px;
        }

        img.icons {
            width: 90px;
            height: 90px;
            object-fit: cover;
            margin-bottom: 20px
        }

        div.divFlex {
            display: flex;
            align-items: center;
        }
    </style>

</head>

<body>
    <div>

        <h1>
            <span><strong>Cálcio – Gluconato de cálcio a 10% e cloreto de cálcio a 10%</strong></span>
        </h1>

        <!-- sumario -->

        <div style="margin-top: 50px; font-size: 3.5vw">
            <p class="sumario">Sumário:</p>
            <ul>
                <li><a href="#apresentacaoDroga">Apresentação da droga</a></li>
                <li><a href="#gluconato">Gluconato de cálcio a 10%</a></li>
                <details>
                    <ul>
                        <li><a href="aprGluconato">Apresentação</a></li>
                        <li><a href="indGluconato">Indicação</a></li>
                        <li><a href="viaAdmGluconato"></a>Via de administração</li>
                        <li><a href="viaAdmGluconato">Preparo/diluição</a></li>
                        <li><a href="viaAdmGluconato"></a>Administração</li>
                        <li><a href="estGluconato">Estabilidade/Conservação</a></li>
                        <li><a href="sitGluconato">Situações que exigem atenção especial</a></li>
                        <li><a href="reaGluconato"> Reações adversos</a></li>
                        <li><a href="contGluconato">Contraindicação</a></li>
                        <li><a href="cuidGluconato">Cuidados específicos e monitoramento</a></li>
                        <li><a href="toxGluconato">Toxicologia</a></li>
                        <li><a href="intGluconato">Interação medicamentosa</a></li>
                        <li><a href="gestGluconato">Uso durante a gestação</a></li>
                    </ul>
                </details>

                <li><a href="#calcio">Gluconato de cálcio a 10%</a></li>
                <details>
                    <ul>
                        <li><a href="aprCalcio">Apresentação</a></li>
                        <li><a href="indCalcio">Indicação</a></li>
                        <li><a href="doseCalcio">Dose</a></li>
                        <li><a href="viaAdmCalcio"></a>Via de administração</li>
                        <li><a href="viaAdmCalcio">Preparo/diluição</a></li>
                        <li><a href="admCalcio"></a>Administração</li>
                        <li><a href="estCalcio">Estabilidade/Conservação</a></li>
                        <li><a href="cuidCalcio">Cuidados específicos e monitoramento</a></li>
                        <li><a href="reaCalcio"> Reações adversos</a></li>
                        <li><a href="toxCalcio">Toxicologia</a></li>
                        <li><a href="contCalcio">Contraindicação</a></li>
                        <li><a href="gestCalcio">Uso durante a gestação</a></li>
                    </ul>
                </details>

                <li><a href="hipocalcemia">Hipocalcemia</a></li>
                <details>
                    <ul>
                        <li><a href="definicaoHipo">Definição</a></li>
                        <li><a href="causasHipo">Causas</a></li>
                        <li><a href="sinaisHipo">Sinais e sintomas</a></li>
                        <li><a href="tratamentoHipo">Tratamento</a></li>
                        <li><a href="doseHipo">Ajuste da dose</a></li>
                    </ul>
                </details>

                <li><a href="hipercalcemia ">Hipercalcemia </a></li>
                <details>
                    <ul>
                        <li><a href="definicaoHiper">Definição</a></li>
                        <li><a href="causasHiper">Causas</a></li>
                        <li><a href="sinaisHiper">Sinais e sintomas</a></li>
                        <li><a href="tratamentoHiper">Tratamento</a></li>
                    </ul>
                </details>
                <!-- fim do sumario -->

                <p id="apresentacaoDroga" class="title"> <span><strong>Apresentação da droga</strong></span></p>
                <p class="text">
                    As soluções disponíveis são:
                </p>
                <ul>
                    <li>Gluconato de cálcio a 10% (90 mg de cálcio por ampola de 10 mL);</li>
                    <li>Cloreto de cálcio a 10% (272 mg de cálcio por ampola de 10 mL);</li>
                    <li>A medicação de escolha é o gluconato de cálcio a 10%.</li>
                </ul>


                <!-- novo topico -->
                <p id="cloretoDeSodio" class="topico">Gluconato de Cálcio
                </p>
                <details>

                    <p class="subtitle"><strong>Apresentação</strong></p>
                    <ul>
                        <li>Gluconato de Cálcio 10% (100mg/mL) em ampola 10mL (1g/ampola). </li>
                        <li>Corresponde a 90mg de cálcio ou 4,65mEq (2,2mmol) de cálcio elementar.</li>
                    </ul>


                    <p id="indGluconato" class="title"><span>Indicação</span></p>
                    <div>
                        <img src="assets/conteudo7.png" alt="Banner" width="100%"
                            style="height: 100%; object-fit: cover; margin-bottom: 20px;" />
                    </div>

                    <p id="viaAdmGluconato" class="title"><span>Preparo e administração</span></p>
                    <div>
                        <img src="assets/conteudo7a.png" alt="Banner" width="100%"
                            style="height: 100%; object-fit: cover; margin-bottom: 20px;" />
                    </div>

                    <p id="estGluconato" class="title"><span>Estabilidade / Conservação</span></p>
                    <p class="text">Duração de 48 horas em temperatura ambiente.
                    </p>

                    <p id="sitGluconato" class="title"><span>Situações que exigem atenção especial</span></p>
                    <p class="text">Usar com cautela em pacientes que: </p>
                    <div style="display: flex; align-items:center; justify-content: center; ">
                        <img class="icons" src="assets/aviso.png" alt="icons" />
                        <div class="topico1">
                            <p class="textTopico">Utilizam digitálicos
                            </p>
                        </div>
                    </div>
                    <div style="display: flex; align-items:center; justify-content: center; ">
                        <img class="icons" src="assets/aviso.png" alt="icons" />
                        <div class="topico2">
                            <p class="textTopico">Pacientes com hiperfosfatemia severa</p>
                        </div>
                    </div>
                    <div style="display: flex; align-items:center; justify-content: center; ">
                        <img class="icons" src="assets/aviso.png" alt="icons" />
                        <div class="topico3">
                            <p class="textTopico">Insuficiência respiratória ou acidose
                            </p>
                        </div>
                    </div>
                    <div style="display: flex; align-items:center; justify-content: center; ">
                        <img class="icons" src="assets/aviso.png" alt="icons" />
                        <div class="topico4">
                            <p class="textTopico">Cálculos renais de cálcio
                            </p>
                        </div>
                    </div>
                    <div style="display: flex; align-items:center; justify-content: center; ">
                        <img class="icons" src="assets/aviso.png" alt="icons" />
                        <div class="topico5">
                            <p class="textTopico">Disfunção renal crônica
                            </p>
                        </div>
                    </div>
                    <div style="display: flex; align-items:center; justify-content: center; ">
                        <img class="icons" src="assets/aviso.png" alt="icons" />
                        <div class="topico1">
                            <p class="textTopico">Disfunção cardíaca
                            </p>
                        </div>
                    </div>
                    <div style="display: flex; align-items:center; justify-content: center; ">
                        <img class="icons" src="assets/aviso.png" alt="icons" />
                        <div class="topico2">
                            <p class="textTopico">Doenças associadas com a hipercalcemia
                            </p>
                        </div>
                    </div>

                    <p id="reaGluconato" class="title"><span>Reações adversas</span></p>
                    <div>
                        <img src="assets/conteudo7b.png" alt="Banner" width="100%"
                            style="height: 100%; object-fit: cover; margin-bottom: 20px;" />
                    </div>

                    <p id="contGluconato" class="title"><span>Contraindicação</span></p>
                    <div>
                        <div class="divFlex">
                            <img src="assets/x.png" alt="Banner" width="240"
                                style="height:240px; object-fit: cover; margin-bottom: 20px; margin-left: 2px; margin-right: 30px" />
                            <ul>
                                <li>
                                    Alergia ao gluconato de cálcio ou componentes da formulação;
                                </li>
                                <li>Hipercalcemia; -hipercalciúria (nível alto e anormal de excreção de cálcio na urina,
                                    maior que 4 mg/kg/dia);</li>
                                <li>Toxicidade a digitálicos ou suspeita de toxicidade a digoxina.</li>
                            </ul>
                        </div>
                    </div>

                    <p id="cuidGluconato" class="title"><span>Cuidados específicos e monitoramento</span></p>
                    <p class="text">Usar com cautela em pacientes que: </p>
                    <div style="display: flex; align-items:center; justify-content: center; ">
                        <img class="icons" src="assets/aviso.png" alt="icons" />
                        <div class="topico1">
                            <p class="textTopico">Administração endovenosa lenta
                            </p>
                        </div>
                    </div>
                    <div style="display: flex; align-items:center; justify-content: center; ">
                        <img class="icons" src="assets/aviso.png" alt="icons" />
                        <div class="topico2">
                            <p class="textTopico">Não deve ser administrado via intramuscular ou subcutânea
                            </p>
                        </div>
                    </div>
                    <div style="display: flex; align-items:center; justify-content: center; ">
                        <img class="icons" src="assets/aviso.png" alt="icons" />
                        <div class="topico3">
                            <p class="textTopico">As injeções de sal de cálcio podem produzir irritação
                            </p>
                        </div>
                    </div>
                    <div style="display: flex; align-items:center; justify-content: center; ">
                        <img class="icons" src="assets/aviso.png" alt="icons" />
                        <div class="topico4">
                            <p class="textTopico">Deve-se evitar o extravasamento da solução
                            </p>
                        </div>
                    </div>


                    <p id="toxGluconato" class="title"><span>Toxicologia</span></p>
                    <div>
                        <img src="assets/conteudo7c.png" alt="Banner" width="100%"
                            style="height: 100%; object-fit: cover; margin-bottom: 20px;" />
                    </div>

                    <p id="intGluconato" class="title"><span>Interação medicamentosa</span></p>
                    <p class="text">Não deve ser administrado em neonatos em tratamento com ceftriaxona, em virtude do
                        risco de precipitação do sal ceftriaxona-cálcio.</p>

                    <p id="gestGluconato" class="title"><span>Uso durante a gestação</span></p>
                    <div>
                        <div class="divFlex">
                            <p class="text">
                                ​Categoria C: Não há informações suficientes para avaliar a segurança do medicamento
                                durante a gravidez. O medicamento deve ser administrado apenas se o benefício potencial
                                justificar o risco.
                            </p>
                            <img src="assets/gestacao.png" alt="Banner" width="250"
                                style="height:250px; object-fit: cover; margin-bottom: 20px; margin-left: 2px; margin-right: 30px" />
                        </div>
                    </div>


                </details>
                <!-- fim do topico -->

                <!-- novo topico -->
                <p id="cloretoDeSodio" class="topico">Cloreto de Cálcio 10%
                </p>
                <details>

                    <p class="title"><strong>Apresentação</strong></p>
                    <ul>
                        <li>Cloreto de Cálcio 10% (100mg/mL) em ampola com 10mL (1g/ampola); </li>
                        <li>Corresponde a 273mg de cálcio ou 13,6mEq (6,8mmol) de cálcio elementar por ampola.</li>
                    </ul>


                    <p id="indCalcio" class="title"><span>Indicação</span></p>
                    <div>
                        <img src="assets/conteudo7d.png" alt="Banner" width="100%"
                            style="height: 100%; object-fit: cover; margin-bottom: 20px;" />
                    </div>

                    <p id="doseCalcio" class="title"><span>Dose</span></p>
                    <div>
                        <img src="assets/conteudo7e.png" alt="Banner" width="100%"
                            style="height: 100%; object-fit: cover; margin-bottom: 20px;" />
                    </div>

                    <p id="viaAdmCalcio" class="title"><span>Via de administração/Preparo</span></p>
                    <div>
                        <img src="assets/conteudo7f.png" alt="Banner" width="100%"
                            style="height: 100%; object-fit: cover; margin-bottom: 20px;" />
                    </div>

                    <p id="estCalcio" class="title"><strong>Estabilidade / Conservação</strong></p>
                    <p class="text">Duração de 48 horas em temperatura ambiente.</p>

                    <p id="cuidCalcio" class="title"><span>Cuidados específicos e monitoramento</span></p>
                    <div style="display: flex; align-items:center; justify-content: center; ">
                        <img class="icons" src="assets/aviso.png" alt="icons" />
                        <div class="topico4">
                            <p class="textTopico">O gluconato de cálcio EV é preferível ao cloreto de cálcio EV em
                                circunstâncias não emergenciais, em função do potencial de extravasamento ser mais grave
                                com cloreto de que com o cálcio.
                            </p>
                        </div>
                    </div>
                    <div style="display: flex; align-items:center; justify-content: center; ">
                        <img class="icons" src="assets/aviso.png" alt="icons" />
                        <div class="topico1">
                            <p class="textTopico">Utilizar com cautela em pacientes com hiperfosfatemia, acidose
                                respiratória, insuficiência renal e insuficiência respiratória.
                            </p>
                        </div>
                    </div>
                    <div style="display: flex; align-items:center; justify-content: center; ">
                        <img class="icons" src="assets/aviso.png" alt="icons" />
                        <div class="topico2">
                            <p class="textTopico">A utilização de cloreto de cálcio pode exacerbar quadros de acidose.
                            </p>
                        </div>
                    </div>
                    <div style="display: flex; align-items:center; justify-content: center; ">
                        <img class="icons" src="assets/aviso.png" alt="icons" />
                        <div class="topico3">
                            <p class="textTopico">Utilizar com cautela em pacientes com insuficiência renal crônica, em
                                virtude do risco de hipercalcemia.
                            </p>
                        </div>
                    </div>

                    <p id="reaCalcio" class="title"><span>Reações adversas</span></p>
                    <div>
                        <img src="assets/conteudo7g.png" alt="Banner" width="100%"
                            style="height: 100%; object-fit: cover; margin-bottom: 20px;" />
                    </div>

                    <p id="toxCalcio" class="title"><span>Reações adversas</span></p>
                    <div>
                        <img src="assets/conteudo7h.png" alt="Banner" width="100%"
                            style="height: 100%; object-fit: cover; margin-bottom: 20px;" />
                    </div>

                    <p id="contCalcio" class="title"><span>Contraindicação</span></p>
                    <div>
                        <div class="divFlex">
                            <img src="assets/x.png" alt="Banner" width="240"
                                style="height:240px; object-fit: cover; margin-bottom: 20px; margin-left: 2px; margin-right: 30px" />
                            <ul>
                                <li>
                                    Hipercalcemia
                                </li>
                                <li>Toxicidade conhecida ou suspeitada a digoxina;</li>
                                <li>TNão é recomendado como tratamento de rotina na parada cardiorrespiratória</li>
                                <li>Não é recomendado em neonatos recebendo ceftriaxona.</li>
                            </ul>
                        </div>
                    </div>

                    <p id="gestCalcio" class="title"><span>Uso durante a gestação</span></p>
                    <div>
                        <div class="divFlex">
                            <p class="text">
                                ​​Categoria C: Não há estudos suficientes para avaliar a segurança do medicamento
                                durante a gravidez. O medicamento deve ser administrado apenas se o benefício potencial
                                justificar o risco.
                            </p>
                            <img src="assets/gestacao.png" alt="Banner" width="250"
                                style="height:250px; object-fit: cover; margin-bottom: 20px; margin-left: 2px; margin-right: 30px" />
                        </div>
                    </div>

                </details>
                <!-- fim do novo topico -->

                <!-- novo topivo -->

                <p id="hipocalcemia" class="topico" style="text-align: center; background-color:#9A9A9A">
                    <span><strong>Hipocalcemia </strong></span>
                </p>
                <details>

                    <p id="definicaoHipo" class="title"><span>Definição</span></p>
                    <p class="text">Ocorre quando a concentração de cálcio sérico se encontra abaixo de 4,5 mEq/L.</p>

                    <p id="causasHipo" class="subtitle">Causas</p>
                    <div>
                        <div class="topico1" style="border-radius: 10px; height: 100px">
                            <p class="textTopico">
                                Aumento na perda de cálcio</p>
                        </div>
                        <div class="topico2" style="border-radius: 10px; height: 100px">
                            <p class="textTopico">
                                Ingestão reduzida</p>
                        </div>
                        <div class="topico3" style="border-radius: 10px; height: 100px">
                            <p class="textTopico">
                                Níveis altos de fosfato</p>
                        </div>
                        <div class="topico4" style="border-radius: 10px; height: 100px">
                            <p class="textTopico">
                                Hipomagnesemia
                            </p>
                        </div>
                        <div class="topico5" style="border-radius: 10px; height: 110px">
                            <p class="textTopico">
                                Raquitismo </p>
                        </div>
                        <div class="topico1" style="border-radius: 10px; height: 110px">
                            <p class="textTopico">
                                Insuficiência renal
                            </p>
                        </div>
                        <div class="topico2" style="border-radius: 10px; height: 110px">
                            <p class="textTopico">
                                Hipoparatireoidismo</p>
                        </div>
                        <div class="topico3" style="border-radius: 10px; height: 110px">
                            <p class="textTopico">
                                Esteatorreia</p>
                        </div>
                        <div class="topico2" style="border-radius: 10px; height: 110px">
                            <p class="textTopico">
                                Transfusão sanguínea</p>
                        </div>
                    </div>

                    <p id="sinaisHipo" class="title"><span>Sinais e sintomas</span></p>
                    <img src="assets/conteudo7i.png" alt="Banner" width="100%"
                        style="height: 100%; object-fit: cover; margin-bottom: 20px;" />

                    <p id="tratamentoHipo" class="title"><span>Tratamento</span></p>
                    <img src="assets/conteudo7j.png" alt="Banner" width="100%"
                        style="height: 100%; object-fit: cover; margin-bottom: 20px;" />
                </details>

                <!-- fim do topico -->

                <!-- novo topico -->
                <p id="hipercalcemia" class="topico" style="text-align: center; background-color:#9A9A9A">
                    <span><strong>Hipercalcemia</strong></span>
                </p>
                <details>

                    <p id="definicaoHiper" class="title"><span>Definição</span></p>
                    <p class="text">Ocorre quando a concentração de cálcio sérico se encontra acima de 5,5 mEq/L. </p>

                    <p id="causasHiper" class="subtitle">Causas</p>
                    <div>
                        <div class="topico1" style="border-radius: 10px; height: 100px">
                            <p class="textTopico">
                                Hiperparatireoidismo</p>
                        </div>
                        <div class="topico2" style="border-radius: 10px; height: 100px">
                            <p class="textTopico">
                                Alguns cânceres</p>
                        </div>
                        <div class="topico3" style="border-radius: 10px; height: 100px">
                            <p class="textTopico">
                                Tireotoxicose</p>
                        </div>
                        <div class="topico4" style="border-radius: 10px; height: 100px">
                            <p class="textTopico">
                                Feocromocitoma
                            </p>
                        </div>
                        <div class="topico5" style="border-radius: 10px; height: 110px">
                            <p class="textTopico">
                                Imobilização </p>
                        </div>
                        <div class="topico1" style="border-radius: 10px; height: 110px">
                            <p class="textTopico">
                                Ingestão excessiva de vitamina D ou de outros medicamentos, tais como lítio, tiazidas e anti-estrógenos.
                            </p>
                        </div>
                    </div>

                    <p id="sinaisHiper" class="title"><span>Sinais e sintomas</span></p>
                    <img src="assets/conteudo7k.png" alt="Banner" width="100%"
                        style="height: 100%; object-fit: cover; margin-bottom: 20px;" />

                    <p id="tratamentoHipo" class="title"><span>Tratamento</span></p>
                    <img src="assets/conteudo7l.png" alt="Banner" width="100%"
                        style="height: 100%; object-fit: cover; margin-bottom: 20px;" />


                        <p style="font-size: 4vw; background-color: #FFF952; font-size:3.5vw">
                            Hipocalcemia: O que fazer quando tem pouco cálcio no sangue. <a href="https://www.youtube.com/watch?v=EqDbo5o90Vw">https://www.youtube.com/watch?v=EqDbo5o90Vw</a>
                        </p>
                        <p style="font-size: 4vw; background-color: #FFF952; font-size:3.5vw">
                            Hipercalcemia: O que causa e o que fazer quando o cálcio esta aumentado. <a href="https://www.youtube.com/watch?v=wqYQ0thYadA">https://www.youtube.com/watch?v=wqYQ0thYadA</a>
                        </p>

                </details>

                <!-- fim do topico -->



        </div>
</body>

</html>